<?xml version="1.0" encoding="UTF-8"?>
<manifest android:versionCode="20100726"
    android:versionName="@string/app_version"
    package="cn.yo2.aquarium.pocketvoa" xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:icon="@drawable/icon"
        android:label="@string/app_name" android:name=".App">
        <activity android:label="@string/app_name" 
        	android:name=".MainActivity" 
        	android:screenOrientation="portrait"
        	android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <activity android:label="@string/app_name"
            android:launchMode="singleTop" 
            android:name=".ShowActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
            
        <activity android:label="@string/ac_title_settings" android:name=".SettingsActivity" android:configChanges="keyboardHidden|orientation" android:screenOrientation="portrait"/>
        <activity android:label="@string/ac_title_help" android:name=".HelpActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        <activity android:name=".BackupActivity" android:screenOrientation="portrait" android:configChanges="keyboardHidden|orientation"/>
        
        <!-- crash report dialog activity -->
        <activity android:launchMode="singleInstance"
            android:name="org.acra.CrashReportDialog" android:theme="@android:style/Theme.Dialog" android:screenOrientation="portrait"/>
            
        <service android:name=".DownloadService"/>
        <service android:name=".MediaPlaybackService" android:process=":remote"/>
        <!-- The application's publisher ID assigned by AdMob -->
        <!-- 
        <meta-data android:value="a14b2909c8cc25e" android:name="ADMOB_PUBLISHER_ID" />
		 -->
        
    </application>
    <uses-sdk android:minSdkVersion="3"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
</manifest>
